.choresText {
   color: plum;
   font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;

}

.choresHeading {
   text-decoration: underline;
   color: plum;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}