.choresText {
   color: plum;
   font-size: 16px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
text-align: left;



}

.choresHeading {
   text-decoration: underline;
   color: plum;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: left;
}